.card-item{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 2rem;
    width: min-content;
    overflow: hidden;
}

.card-poster img{
    width: 200px;
    aspect-ratio: 2/3;
}

.card-title{

}