.wrapper{
  padding: 0 4rem;
}

nav{
  /* background-color: var(--secondary-background); */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo img{
  width: 200px;
}

ul{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

ul li:not(:last-child):hover{
  cursor: pointer;
  opacity: 0.7;
}

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.searchBar i:hover{
  cursor: pointer;
  opacity: 0.7;
}

.searchBar [type="text"]{
  padding:  0.25rem;
  font-size: 0.75rem;
  width: 100%;
  border-radius: 1rem;
}


.container {

}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}

.container a{
  color: white;
}

.container a:hover{
  opacity: 0.7;
}

.item-container {
  display: flex;
  gap: .75rem;
  flex-grow: 1;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}


.poster-container{
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
}

.poster-item{
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
}

.poster-container img{
  transition: all 0.5s ease-in-out;
  width: 200px;
  aspect-ratio: 2/3;
  transition: 0.25s;
}

.poster-container img:hover{
  transform: scale(1.2);
  opacity: 0.5;
  transition: 0.25s;
  overflow: hidden;
}