.wrapper {
  margin: 1rem 8rem;
  /* overflow: hidden; */
  /* width: 100%; */
  /* display: flex; */
}

/* Navbar */
nav {
  /* background-color: var(--secondary-background); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 200px;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
}

ul li:not(:last-child):hover {
  cursor: pointer;
  color: var(--secondary-color);
  opacity: 0.7;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.searchBar i:hover {
  cursor: pointer;
  opacity: 0.7;
}

.searchBar [type="text"] {
  border: none;
  padding: 0.25rem;
  font-size: 0.75rem;
  width: 100%;
  border-radius: 1rem;
}

/* Container */
.container {
  /* margin: 1rem 6rem; */
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left-width: 5px;
}

.top-container h3 {
  font-size: 1.5rem;
}

.container a {
  color: white;
}

.container a:hover {
  opacity: 0.7;
}

.item-container {
  /* width: 100%; */
}

.container .view-all {
  display: none;
}

/* Corousel */
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

.left-button-carousel {
  display: none;
  border: none;
  background: transparent;
  height: 200px;
  position: absolute;
  left: 0;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  cursor: pointer;
  /* float: right; */
}

.right-button-carousel {
  display: none;
  border: none;
  background: transparent;
  height: 200px;
  position: absolute;
  right: 0;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  cursor: pointer;
  /* float: right; */
}
.right-button-carousel:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hovered {
  display: block;
}

.poster-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 1; */
  /* gap: 1rem; */
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
  /* opacity: 0; */
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.poster-item {
  width: 225px;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
}

.poster-container img {
  width: 100%;
  aspect-ratio: 2/3;
  /* transform: scale(0.8); */
}

.poster-container.visibleTrue {
  opacity: 1;
  /* transform: scale(1); */
}

.poster-container img:hover {
  transform: scale(1.2);
  opacity: 0.5;
  transition: 0.25s;
  overflow: hidden;
}

/* ========== All Page ==========*/
.wrapper > h1 {
  text-align: center;
  margin-top: 2rem;
}

.all-poster {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}
.all-poster-item {
  width: 225px;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
}

.all-poster-item img:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.5;
  transition: 0.25s;
  overflow: hidden;
}

.all-poster img {
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
}

/* Video Preview Page*/

.wrapper-preview {
  /* border: 1px solid white; */
  /* opacity: 0; */
  transition: opacity 0.5s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.backdrop-preview {
  /* border: 1px solid white; */
  width: 50%;
}

.backdrop-preview > img {
  width: 100%;
  aspect-ratio: 5/3;
}

.video-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  max-width: 40%;
}

.title-preview {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  font-weight: var(--font-weight);
}

.genre {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  /* opacity: 0.8; */
}

.genre h3 {
  background-color: var(--third-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
}

.genre h3:hover {
  cursor: pointer;
  opacity: 0.8;
}

.detail-preview {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.detail-preview p:nth-last-child(1) {
  background-color: gray;
  padding: 0.2rem 0.15rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.rating {
  color: yellow;
}

.sinopsis-preview {
  opacity: 0.6;
  font-size: 1.5rem;
}

.button-preview {
  text-align: center;
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 700;
}

.button-preview:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.similar {
  /* width: 100%; */
  /* margin: 1rem 6rem; */
  overflow: hidden;
  position: relative;
}

.comment-section {
}

/* =========== Comment Section ========== */
.comment-section {
  margin-top: 4rem;
}

.comment-section #post {
  margin-top: 0.25rem;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
}

.comment-section #post:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.form-comment {
  display: flex;
}

.form-comment img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
form {
  width: 100%;
  align-self: center;
  height: 100%;
  margin: 0 1rem;
}

form textarea {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  resize: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  height: 75px;
}

form button {
  float: right;
}

.author-comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.author-photo {
  width: 75px;
  /* align-self: center; */
  /* width: 100%; */
}

.author-photo img {
  /* width: 75px; */
  border-radius: 50%;
  width: 100%;
}

.author-content {
  width: 100%;
  padding: 0 1rem;
}

.author-content h4 {
  top: 0;
  padding: 0;
  margin: 0;
}

.author-content span {
  font-size: 12px;
  opacity: 0.75;
}

.reaction {
  margin: 0;
  top: 0;
  display: flex;
  gap: 1rem;
}

.reaction #reply,
#like {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.video-wrapper {
  width: 100%;
  height: 100%;
}

/* Perangkat Mobile */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .wrapper {
    margin: 1rem;
  }
  nav {
  }
  nav .menu {
    display: none;
  }

  .logo img {
    width: 50%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}
