/* Navbar */
nav{
  /* background-color: var(--secondary-background); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 4rem;
}

.logo img{
  width: 200px;
}

ul{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
}

ul li:not(:last-child):hover{
  cursor: pointer;
  color: var(--primary-color);
  opacity: 0.7;
}

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.searchBar i:hover{
  cursor: pointer;
  opacity: 0.7;
}

.searchBar [type="text"]{
   border: none;
  padding:  0.25rem;
  font-size: 0.75rem;
  width: 100%;
  border-radius: 1rem;
}

/* Container */
.container {
  margin: 1rem 6rem;
  overflow: hidden;
  position: relative;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left-width: 5px;
  /* height: fit-content; */
  /* margin-bottom: 10px; */
}

.top-container h3{
  font-size: 1.5rem;
}

.container a{
  color: white;
}

.container a:hover{
  opacity: 0.7;
}

.item-container {
  /* width: 100%; */
}


/* Corousel */
.carousel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  /* position: relative; */
}

.left-button-carousel{
  border: none;
  background:transparent;
  height: 200px;
  position: absolute;
  left: 0;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  cursor: pointer;
  /* float: right; */
}

.right-button-carousel{
  border: none;
  background:transparent;
  height: 200px;
  position: absolute;
  right: 0;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  cursor: pointer;
  /* float: right; */
}
.right-button-carousel:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.poster-container{
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 1; */
  /* gap: 1rem; */
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
}

.poster-item{
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.25s;
}

.poster-container img{
  transition: all 0.5s ease-in-out;
  width: 200px;
  aspect-ratio: 2/3;
  transition: 0.25s;
}

.poster-container img:hover{
  transform: scale(1.2);
  opacity: 0.5;
  transition: 0.25s;
  overflow: hidden;
}

/* Video Preview Page*/

.wrapper-preview{
  /* border: 1px solid white; */
  /* opacity: 0; */
  transition: opacity 0.5s ease-in;
  margin: 4rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.backdrop-preview{
  /* border: 1px solid white; */
  width: 50%;
}

.backdrop-preview>img{
  width: 100%;
  aspect-ratio: 5/3;
}

.video-preview{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:50%;
  font-size: 1.5rem;
  max-width: 40%;
}

.title-preview{
  display: flex;
  flex-direction: column;
  font-size: 70px;
  font-weight: var(--font-weight);
}

.genre{
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  opacity: 0.8;
}

.detail-preview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.rating{
  color: yellow;
}

.sinopsis-preview{
  opacity: 0.6;
}

.button-preview{
  text-align: center;
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: .75rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
}

.button-preview:hover{
  cursor: pointer;
  background-color: var(--secondary-color);
}
